#phase-avatar-form {
  display: none
}

#phase-calljoin-form {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 300px;
  color: #ddd;
  background: #36393e;
  z-index: 1;
}

#phase {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
  width: 100%;
  height: 100%;
  color: #eee;
  font-family: 'Open Sans', sans-serif
}

#phase-content {
  display: flex;
  flex-direction: column;
  height: 100%
}

#phase-content #phase-nav {
  display: flex;
  height: 50px;
  background: #36393e;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #282b30
}

#phase-content #phase-nav #phase-nav-title {
  font-size: 25px;
  font-family: 'Francois One', sans-serif;
  margin-left: 15px
}

#phase-content #phase-nav #phase-nav-discussiontitle {
  flex: 1;
  text-align: center;
  font-weight: bold
}

#phase-content #phase-nav #phase-nav-discussiontitle #phase-nav-discussiontitle-edit {
	display: inline;
}

#phase-content #phase-nav #phase-nav-discussiontitle #phase-nav-discussiontitle-edit #phase-nav-discussiontitle_input {
	font-weight: bold;
	font-size: 16px;
	color: #eee;
  font-family: 'Open Sans', sans-serif;
  outline: none;
  text-align: center;
  background: none;
	border: none;
	width: 100%;
}

#phase-content #phase-nav #phase-nav-icons {
  flex-shrink: 0;
  padding-right: 15px;
  font-size: 20px
}

#phase-content #phase-main {
  background: #36393e;
  display: flex;
  flex-direction: row;
  flex: 1;
  min-height: 0
}

#phase-content #phase-main>div {
  display: flex;
  flex-direction: column
}

#phase-content #phase-main #phase-main-discussions {
  width: 250px;
  background: #2e3136;
  font-family: 'Lato', sans-serif
}

#phase-content #phase-main #phase-main-discussions #phase-main-discussions-title {
  display: flex;
  padding: 5px 0 5px 10px;
  height: 30px;
  align-items: center;
  font-size: 18px;
  border-bottom: 2px solid #282b30;
  flex-shrink: 0
}

#phase-content #phase-main #phase-main-discussions #phase-main-discussions-title #phase-main-discussions-title-value {
  flex: 1
}

#phase-content #phase-main #phase-main-discussions #phase-main-discussions-title #phase-main-discussions-title-icons {
  flex-shrink: 0;
  margin-right: 15px;
  font-size: 14px
}

#phase-content #phase-main #phase-main-discussions #phase-main-discussions-title #phase-main-discussions-title-icons>i {
  margin-left: 10px;
  color: #aaa
}

#phase-content #phase-main #phase-main-discussions #phase-main-discussions-title #phase-main-discussions-title-icons>i:hover {
  cursor: pointer;
  color: #ddd
}

#phase-content #phase-main #phase-main-discussions #phase-main-discussionslist {
  overflow: hidden
}

#phase-content #phase-main #phase-main-discussions .discussion {
  min-height: 55px;
  border-bottom: 1px solid #282b30;
  padding: 10px 10px 3px 10px;
  display: flex;
  flex-direction: column;
  border-left: 2px solid transparent;
}

#phase-content #phase-main #phase-main-discussions .discussion:hover {
  cursor: pointer;
  background-color: #282b30;
}

#phase-content #phase-main #phase-main-discussions .unread {
  border-left: 2px solid #FFC400;
}

#phase-content #phase-main #phase-main-discussions .selected {
  background-color: #282b30;
  border-left: 2px solid #7289da;
}

#phase-content #phase-main #phase-main-discussions .discussion .discussion-title {
  font-size: 16px;
  color: #aaa
}

#phase-content #phase-main #phase-main-discussions .discussion:hover .discussion-title {
  font-size: 16px;
  color: #eee
}

#phase-content #phase-main #phase-main-discussions .selected .discussion-title {
  font-size: 16px;
  color: #eee
}

#phase-content #phase-main #phase-main-discussions .discussion .discussion-preview {
  font-size: 14px;
  margin-top: 2px;
  color: #888;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-left: 5px
}

#phase-content #phase-main #phase-main-discussions .discussion:hover .discussion-preview {
  font-size: 14px;
  margin-top: 2px;
  color: #ccc
}

#phase-content #phase-main #phase-main-discussions .selected .discussion-preview {
  font-size: 14px;
  margin-top: 2px;
  color: #ccc
}

/* Alt Version */
#phase-content #phase-main #phase-main-discussions_alt-display {
  width: 250px;
  background: #2e3136;
  font-family: 'Lato', sans-serif;
}

#phase-content #phase-main #phase-main-discussions_alt-display #phase-main-discussions-title {
  display: flex;
  padding: 5px 0 5px 10px;
  height: 30px;
  align-items: center;
  font-size: 18px;
  border-bottom: 2px solid #282b30;
  flex-shrink: 0
}

#phase-content #phase-main #phase-main-discussions_alt-display #phase-main-discussions-title #phase-main-discussions-title-value {
  flex: 1
}

#phase-content #phase-main #phase-main-discussions_alt-display #phase-main-discussions-title #phase-main-discussions-title-icons {
  flex-shrink: 0;
  margin-right: 15px;
  font-size: 14px
}

#phase-content #phase-main #phase-main-discussions_alt-display #phase-main-discussions-title #phase-main-discussions-title-icons>i {
  margin-left: 10px;
  color: #aaa
}

#phase-content #phase-main #phase-main-discussions_alt-display #phase-main-discussions-title #phase-main-discussions-title-icons>i:hover {
  cursor: pointer;
  color: #ddd
}

#phase-content #phase-main #phase-main-discussions_alt-display #phase-main-discussionslist {
  overflow: hidden;
}

#phase-content #phase-main #phase-main-discussions_alt-display .discussion {
  min-height: 30px;
  border-bottom: 1px solid #282b30;
  padding: 10px 0 3px 10px;
  display: flex;
  flex-direction: column;
}

#phase-content #phase-main #phase-main-discussions_alt-display .discussion:hover {
  cursor: pointer;
  background-color: #282b30
}

#phase-content #phase-main #phase-main-discussions_alt-display .selected {
  background-color: #282b30;
  border-left: 2px solid #7289da
}

#phase-content #phase-main #phase-main-discussions_alt-display .discussion .discussion-title {
  font-size: 16px;
  color: #aaa
}

#phase-content #phase-main #phase-main-discussions_alt-display .discussion:hover .discussion-title {
  font-size: 16px;
  color: #eee
}

#phase-content #phase-main #phase-main-discussions_alt-display .selected .discussion-title {
  font-size: 16px;
  color: #eee
}

#phase-content #phase-main #phase-main-discussions_alt-display .discussion .discussion-preview {
  display: none
}

#phase-content #phase-main #phase-main-chat {
  flex: 1;
  min-width: 1px
}

#phase-content #phase-main #phase-main-chat #phase-main-chat-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  min-height: 0
}

#phase-content #phase-main #phase-main-chat #phase-main-chat-messages {
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

#phase-content #phase-main #phase-main-chat #phase-main-chat-messages-list > div {
  display: flex;
}

#phase-content #phase-main #phase-main-chat #phase-main-chat-inprogress > div {
  display: flex;
}

#phase-content #phase-main #phase-main-chat #phase-main-chat-messages .chat-message {
  flex-direction: row;
  padding-left: 20px;
  padding-top: 5px;
  margin-top: 10px;
  min-width: 0
}

#phase-content #phase-main #phase-main-chat #phase-main-chat-messages .chat-message-notified {
  background: #3e4761
}

#phase-content #phase-main #phase-main-chat #phase-main-chat-messages .chat-message>div {
  display: flex
}

#phase-content #phase-main #phase-main-chat #phase-main-chat-messages .chat-message .chat-message-left .chat-message-avatar > img {
  border-radius: 5px;
  width: 38px;
  height: 36px;
  background: #222
}

#phase-content #phase-main #phase-main-chat #phase-main-chat-messages .chat-message .chat-message-right {
  flex-direction: column;
  margin-left: 10px;
  min-width: 0
}

#phase-content #phase-main #phase-main-chat #phase-main-chat-messages .chat-message .chat-message-right .chat-message-details {
  height: 19px;
  line-height: 19px
}

#phase-content #phase-main #phase-main-chat #phase-main-chat-messages .chat-message .chat-message-right .chat-message-details .chat-message-username {
  font-size: 15px
}

#phase-content #phase-main #phase-main-chat #phase-main-chat-messages .chat-message .chat-message-right .chat-message-details .chat-message-username .chat-message-guestName {
  color: #888;
}

#phase-content #phase-main #phase-main-chat #phase-main-chat-messages .chat-message .chat-message-right .chat-message-details .chat-message-timestamp {
  color: #777;
  margin-left: 5px;
  font-size: 13px;
  line-height: 21px
}

#phase-content #phase-main #phase-main-chat #phase-main-chat-messages .chat-message .chat-message-right .chat-message-details .chat-message-suffix {
  font-size: 14px;
  margin-left: 7px;
  font-weight: 300;
  opacity: .1
}

#phase-content #phase-main #phase-main-chat #phase-main-chat-messages .chat-message:hover .chat-message-right .chat-message-details .chat-message-suffix {
  display: inline;
  opacity: 1
}

#phase-content #phase-main #phase-main-chat #phase-main-chat-messages .chat-message .chat-message-right .chat-message-details .systemSuffix {
  font-size: 14px;
  color: #666
}

#phase-content #phase-main #phase-main-chat #phase-main-chat-messages .chat-message .chat-message-right .chat-message-details .chat-message-ip {
  font-size: 14px;
  margin-left: 7px;
  font-weight: 300;
  opacity: .1
}

#phase-content #phase-main #phase-main-chat #phase-main-chat-messages .chat-message:hover .chat-message-right .chat-message-details .chat-message-ip {
  display: inline;
  opacity: 1
}

#phase-content #phase-main #phase-main-chat #phase-main-chat-messages .chat-message .chat-message-right .chat-message-content {
  color: #bfbfbf;
  word-wrap: break-word;
  font-size: 14px
}

#phase-content #phase-main #phase-main-chat #phase-main-chat-messages .chat-message .chat-message-right .chat-message-content a {
  color: #999;
  word-wrap: break-word;
  font-size: 14px
}

#phase-content #phase-main #phase-main-chat #phase-main-chat-messages .chat-message .chat-message-right .chat-message-content img {
    max-width: 100%;
}

#phase-content #phase-main #phase-main-chat #phase-main-chat-scroller {
  background: #2e3136;
  width: 8px;
  border-radius: 10px;
  position: relative;
  margin: 4px
}

#phase-content #phase-main #phase-main-chat #phase-main-chat-scroller #thumb {
  height: 60px;
  background: #36393e;
  position: relative;
  top: 0;
  position: absolute;
  right: 0;
  left: 0;
  margin: -1px
}

#phase-content #phase-main #phase-main-chat #phase-main-chat-scroller #thumb::after {
  background: #1e2124;
  margin: 1px;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 10px
}

#phase-content #phase-main #phase-main-chat #phase-main-chat-inputcontainer {
  flex-direction: row;
  display: flex;
  align-items: center
}

#phase-content #phase-main #phase-main-chat #phase-main-chat-inputcontainer>div {
  display: flex
}

#phase-content #phase-main #phase-main-chat #phase-main-chat-inputcontainer #chat-input-avatar img {
  width: 38px;
  height: 36px;
  border-radius: 5px;
  margin-left: 20px;
  background: #222
}

#phase-content #phase-main #phase-main-chat #phase-main-chat-inputcontainer #phase-main-chat-triangle {
  margin-left: 5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 14px 7px 0;
  border-color: transparent #555 transparent transparent
}

#phase-content #phase-main #phase-main-chat #phase-main-chat-inputcontainer #phase-main-chat-input {
  margin: 10px 20px 10px 0;
  border: 2px solid #555;
  border-radius: 5px;
  padding: 8px;
  flex: 1
}

#phase-content #phase-main #phase-main-chat #phase-main-chat-inputcontainer #phase-main-chat-input #chat-textarea::-webkit-input-placeholder {
  color: #999
}

#phase-content #phase-main #phase-main-chat #phase-main-chat-inputcontainer #phase-main-chat-input #chat-textarea:-moz-placeholder {
  color: #999
}

#phase-content #phase-main #phase-main-chat #phase-main-chat-inputcontainer #phase-main-chat-input #chat-textarea::-moz-placeholder {
  color: #999
}

#phase-content #phase-main #phase-main-chat #phase-main-chat-inputcontainer #phase-main-chat-input #chat-textarea:-ms-input-placeholder {
  color: #999
}

#phase-content #phase-main #phase-main-chat #phase-main-chat-inputcontainer #phase-main-chat-input #chat-textarea {
  height: 21px;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #bfbfbf;
  background: transparent;
  padding: 0 5px 0 5px;
  overflow: hidden;
  resize: none;
  outline: none;
  border: none
}

#phase-content #phase-main #phase-main-people {
  width: 250px
}

#phase-content #phase-main #phase-main-people .people-entry {
	display: flex;
	font-size: 14px;
	color: #CCC;
	margin-top: 5px;
	padding-left: 5px;
	padding-right: 10px;
}

#phase-content #phase-main #phase-main-people .people-entry-avatar > img {
  border-radius: 5px;
  width: 30px;
  height: 30px;
  background: #222
}

#phase-content #phase-main #phase-main-people .people-entry-username {
	flex-grow: 1;
	margin-top: 4px;
	margin-left: 10px;
}

#phase-content #phase-main #phase-main-people .people-entry-icons {
	flex-shrink: 0;
}

#phase-content #phase-main #phase-main-people .people-entry-icons-online {
	color: #0DBD19;
	font-size: 12px;
}